/* body */
body {
    background-color: rgb(255, 233, 186);
}

/* Navbar */
nav {
    background-color: rgb(112, 50, 0);
}

.NavLink1 {
    white-space: nowrap;
    color: black;
    background-color: gold;
    border: transparent;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}
.NavLink2 {
    white-space: nowrap;
    color: white;
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

/* Login Page & Registrasi Page */
.card-container {
    width: 500px;
    margin-top: 100px;
}
.card-header {
    color: antiquewhite;
    text-align: center;
    background-color: #8B4513;
}
#register-hl {
    text-decoration: none;
}
#register-hl:hover {
    text-decoration: underline;
}
#hl {
    text-decoration: none;
}
#hl:hover {
    text-decoration: underline;
}

/* Tombol di halaman tambah menu */
.btn-brown {
    background-color: #8B4513;
    border-color: #8B4513;
    color: white;
}
.btn-brown:hover {
    background-color: #654321;
    border-color: #654321;
    color: white;
}