nav {
    background-color: rgb(112, 50, 0);
}

.NavLink1 {
    white-space: nowrap;
    color: black;
    background-color: gold;
    border: transparent;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

.NavLink2 {
    white-space: nowrap;
    color: white;
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

body {
    background-color: rgb(255, 233, 186);
}
